---
import image1 from '../images/image1.webp'
import image2 from '../images/image2.webp'
import image3 from '../images/image3.webp'
import image4 from '../images/image4.webp'
import image5 from '../images/image5.webp'
import image6 from '../images/image6.webp'
import image7 from '../images/image7.webp'
import image8 from '../images/image8.webp'
import Modal from './Modal.astro'
let allPosts = await Astro.glob("../pages/activities/*.md");
---
<section class="w-[100vw] h-[100vh] relative">
    <div class="absolute top-0 z-10 bg-[#FBFBFB29] w-full h-full pointer-events-none">
        {
        allPosts.map((post) => (
            <Modal title={post.frontmatter.title} 
            mid={post.frontmatter.mid} 
            image={post.frontmatter.image} 
            time={post.frontmatter.time}   
            place={post.frontmatter.place} 
            partners={post.frontmatter.partners} 
            description={post.rawContent()}
            color={post.frontmatter.color}
            />
        ))
        }
    </div>
    <div class="absolute top-0 z-20 bg-[#393D3E8C] w-full h-full galleryNotFade">
        <div class="h-full flex justify-center items-center">
            <h1 class="text-white mx-auto text-5xl font-binline tracking-[4px]">ACTIVITIES GALLERY</h1>
        </div>
    </div>
    <div class="max-h-full absolute top-0 z-0 grid grid-rows-3 grid-cols-6 gap-2">
        <div data-modal="p01" class="thumbImageContainer col-span-2 row-span-1 cursor-pointer">
            <img class="h-full w-full" src={image1} alt="">
        </div>
        <div data-modal="p02" class="thumbImageContainer col-span-2 row-span-1 cursor-pointer">
            <img class="h-full w-full" src={image2} alt="">
        </div>
        <div data-modal="p03" class="thumbImageContainer col-span-2 row-span-1 cursor-pointer">
            <img class="h-full w-full" src={image3} alt="">
        </div>
        <div data-modal="p04" class="thumbImageContainer col-span-1 row-span-2 cursor-pointer">
            <img class="h-full w-full" src={image4} alt="">
        </div>
        <div data-modal="p05" class="thumbImageContainer col-span-2 row-span-1 cursor-pointer">
            <img class="h-full w-full" src={image5} alt="">
        </div>
        <div data-modal="p06" class="thumbImageContainer col-span-2 row-span-1 cursor-pointer">
            <img class="h-full w-full" src={image6} alt="">
        </div>
        <div class="col-span-1 row-span-1 flex flex-col items-center justify-center gap-4 font-bungee">
            <div>
                <h3 class="text-[18px] font-binline text-[#454594]">View option</h3>
            </div>
            <button class="view-button" role="button">
                <span class="text">ALL</span>
                <span>Let's Go</span>
            </button>
            <button class="view-button" role="button">
                <span class="text">RANDOM</span>
                <span>Abra Cadabra...</span>
            </button>
        </div>
        <div data-modal="p07" class="thumbImageContainer col-span-3 row-span-1 cursor-pointer">
            <img class="h-full w-full" src={image7} alt="">
        </div>
        <div data-modal="p08" class="thumbImageContainer col-span-2 row-span-1 cursor-pointer">
            <img class="h-full w-full" src={image8} alt="">
        </div>
    </div>


    <script>
    import '../js/magicEffect.js'
    import '../js/modalOpen.js'
    </script>
</section>


<style>
.view-button {
  position: relative;
  overflow: hidden;
  border: 2px solid #454594;
  color: #454594;
  display: inline-block;
  font-size: 14px;
  line-height: 15px;
  padding: 10px 1px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
  border-radius: 30px;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
}

.view-button span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.view-button span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.view-button:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #454594;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.view-button:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.view-button:hover {
   width: 150px;
}

.view-button:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
</style>