---
	const allPosts = await Astro.glob("../pages/blog/*.md");
	const newestPost = allPosts.pop();
    const threeSmallPost = allPosts.slice(0,3)
---
<section id='news' class="w-[100vw] h-[100vh] bg-[#FCF6ED] -mb-20 font-bruno">
        <div class="flex justify-center pt-10 pb-12">
            <div class="relative w-[30vw] pb-16">
                <h1 class="absolute text-center font-bruno z-10 text-[35px] tracking-[12px]">News & Blog</h1>
                <div class="absolute top-6 left-20 w-[320px] h-[20px] bg-[#FFACAC]">
                </div>
            </div>
        </div>
        <div class="flex items-center justify-center">
            <div class="grid grid-cols-2 w-[80vw] h-[80vh]">
                <div class="relative w-full h-full">
                        <div class="absolute left-28 top-6 w-[430px] h-[440px] bg-white z-20 rounded-xl border-black border-[1.5px]">
                            <div class="relative top-2 mx-auto w-[410px] h-[220px] overflow-clip rounded-xl drop-shadow-[0_2px_3px_rgba(0,0,0,0.3)]">
                                <img src={newestPost.frontmatter.thumbnail} class="w-[410px] opacity-80" id="big-thumb-img" alt="">
                            </div>
                            <div class="relative top-5 left-5">
                                <span class="text-[11px] text-[#202131B2] tracking-widest">
                                    {newestPost.frontmatter.minutes} minutes to read
                                </span>
                                <button class="w-[70px] h-[26px] bg-[#E5E2FF] rounded-full border-black border-[0.6px]" >
                                    <span class="text-[11px] text-[#63646F] m-auto">
                                        {newestPost.frontmatter.tag}
                                    </span>
                                </button>
                            </div>
                        	<div class="relative top-6 left-5">
					            <h1 class="font-bruno text-md tracking-[0.2em]">{newestPost.frontmatter.title}</h1>
				            </div>
                            <div class="relative top-8 left-5 w-[95%]">
                                <p class="text-[11px] text-[#202131B2] leading-[1.8em] tracking-[0.15em]">{newestPost.rawContent().slice(0,140)}.. <a href={newestPost.url} class="underline text-black">read more</a></p>
                            </div>
                        </div>
                        <svg class="absolute z-10 left-6" width="600" height="490" viewBox="0 0 615 519" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M208.471 25.258C311 -58.5 529.705 88.3072 587.587 264.818C613.594 344.126 639.859 463.942 565.071 490.525C251.862 601.855 -132.788 346.957 47.2261 212.824C122.475 156.754 128.246 147 128.246 128C128.246 94.5 105.942 109.016 208.471 25.258Z" fill="#F5F4FF" stroke="black"/>
                        </svg>
                </div>
                <div class="relative w-full h-full">
                    <div class="absolute z-10 -left-5 top-6 h-[440px] w-[550px] grid grid-flow-row grid-rows-3 gap-[21px]">
                    {threeSmallPost.map((post)=>(
                        <div class="grid grid-cols-3 gap-4">
                            <div class="h-[132.66px] overflow-clip rounded-xl border-black border-[1px] bg-[#FFFCF8]">
                                <img class="min-h-[132.66px] max-h-[160px] brightness-90 mx-auto" src={post.frontmatter.thumbnail} />
                            </div>
                            <div class="col-span-2">
                                <div class="relative">
                                    <button class="w-[70px] h-[22px] bg-black rounded-full -pt-4 pb-6" >
                                        <span class="text-[10px] text-[#DDDDDD]">
                                        {post.frontmatter.tag}
                                        </span>
                                    </button>
                                    <svg class="inline mx-2" width="2" height="16" viewBox="0 0 2 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <line x1="1.32227" x2="1.32227" y2="16" stroke="black"/>
                                    </svg>
                                    <span class="text-[10px] text-[#202131B2] tracking-[0.2rem]">
                                        {post.frontmatter.minutes} minutes to read
                                    </span>
                                </div>
                                <div class="relative top-2 left-1">
                                    <h2 class="text-[12px] tracking-[0.17rem]">{post.frontmatter.title}</h2>
                                </div>
                                <p class="relative top-4 left-1 text-[9px] leading-[1.8em] text-[#202131B2] tracking-[0.1rem]">
                                    {post.rawContent().slice(0,100)}.. <a href={post.url} class="underline text-black">read more</a>
                                </p>
                            </div>
                        </div>
                    ))}
                    </div>
                    <svg class="absolute -left-2 z-0" width="470.2" height="560" viewBox="0 0 508 627" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M340.003 1.02756C147.335 12.7044 33.0559 163.354 0 237.219L15.0522 442.006C156.72 779.485 437.843 573.371 316.982 452.621C201.288 337.033 355.498 228.962 458.207 176.181C540.995 128.854 532.672 -10.6493 340.003 1.02756Z" fill="#E0E9E5" fill-opacity="0.69"/>
                    </svg>
                </div>
            </div>
        </div>
</section>
