---
import NewsContainer from "../components/NewsContainer.astro";
import Layout from "./Layout.astro";
import BlogHeader from "../components/BlogHeader.astro";
const allPosts = await Astro.glob('../pages/blog/*.md')
const SortedPosts = allPosts.sort((a , b ) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
const {frontmatter} = Astro.props;
const postNum = SortedPosts.findIndex((post, index) => {
    if(post.frontmatter.title.trim() == frontmatter.title.trim()) return index > 0 ? index+=1 : index+=2;
})
const displayNum = postNum + 1;

const nextUrl = SortedPosts[postNum + 1]?.url.toString()
const prevUrl = SortedPosts[postNum - 1]?.url.toString()
import '../global.css'
---

<Layout title={frontmatter.title}>
  <astro-url data-nextUrl={nextUrl} data-prevUrl={prevUrl}>
  
  <main id="mainBody">

    <div class="fixed flex flex-col gap-4 top-72 left-16 bg-white border-2 border-black rounded-full p-6">
      <a class="homelink" href="/">
        <svg id="svg1" width="65" height="75" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="32.5" cy="32.5" r="29.5" fill="#E374A3" stroke="#E374A3" stroke-width="6"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M33 21L45 30.8147L44.09 31.9421L41.6587 29.9537V39.3683C41.6587 41.374 40.0435 43 38.0509 43H27.9491C25.9565 43 24.3413 41.374 24.3413 39.3683V29.9537L21.91 31.9421L21 30.8147L33 21ZM25.7844 28.7733V39.3683C25.7844 40.5717 26.7535 41.5473 27.9491 41.5473H30.1138V35.0102C30.1138 33.8067 31.0829 32.8311 32.2784 32.8311H33.7216C34.9171 32.8311 35.8862 33.8067 35.8862 35.0102V41.5473H38.0509C39.2465 41.5473 40.2156 40.5717 40.2156 39.3683V28.7733L33 22.8718L25.7844 28.7733ZM32.2784 34.2838C31.8799 34.2838 31.5569 34.609 31.5569 35.0102V41.5473H34.4431V35.0102C34.4431 34.609 34.1201 34.2838 33.7216 34.2838H32.2784Z" fill="#FCFCFC"/>
        </svg>
      </a>
      <a class="backlink" href="/blog/">
        <svg width="65" height="75" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="32.5" cy="32.5" r="29.5" fill="#E374A3" stroke="#E374A3" stroke-width="6"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M27.8001 32L37 39.8113L35.5999 41L25 32L35.5999 23L37 24.1887L27.8001 32Z" fill="#FCFCFC"/>
        </svg>
      </a>
    </div>

    
    <BlogHeader displayNum={displayNum} prevUrl={prevUrl} nextUrl={nextUrl} postsNumber={allPosts.length} />
    <NewsContainer maxW="max-w-[70%]" containerPadding="px-0" >

        <div class="w-full flex justify-center items-center px-20 mb-10 mt-6">
            <h1 class="font-bruno text-3xl inline-block text-center text-[#922B56] leading-16 tracking-[3px]">{frontmatter.title.toUpperCase()}</h1>
        </div>
        
        <div class="rounded-2xl overflow-clip max-w-[86%] mx-auto flex justify-center bg-[#a5e9fd33] items-start  max-h-[550px] drop-shadow-[0_2px_3px_rgba(0,0,0,0.3)">
            <img class="max-h-[800px]" src={frontmatter.thumbnail} />
        </div>

        <div class="px-[12%] pt-10 flex flex-row justify-start items-center">
          <div class="w-[80px] h-[80px] rounded-full overflow-clip flex items-center border-[#606060] border-[2px]">
            <img class="w-[90px] h-[80px]" src={frontmatter.authorAvatar} alt=""/>
          </div>
          <div class="pl-4 flex flex-col justify-center gap-2">
            <h3 class="font-bruno text-[#606060] text-[14px]">
              Published {frontmatter.date.slice(0,10)}
            </h3>
            <div>
                <p class="font-bruno text-[#606060] text-[18px]">a post from {frontmatter.authorName}</p>
            </div>
          </div>
        </div>
        
        <div class="w-[50%] border-gray border-[1px] ml-auto mr-auto mt-10">
        </div>

        <div id="slot-container">
          <slot />
        </div>
    </NewsContainer>
  </main>
  </astro-url>
    <script>
  class AstroUrl extends HTMLElement {
    constructor() {
      super();
      console.log(this.dataset)
        document.addEventListener("keydown", (e) => {
          if (e.key == "ArrowLeft") {
            if (this.dataset.prevurl) {
            window.location.href = this.dataset.prevurl;
            } else {
              window.alert('Sorry, this is the newest post')
            }
          } else if (e.key == "ArrowRight") {
            if (this.dataset.nexturl) {
              window.location.href = this.dataset.nexturl;
            } else {
              window.alert('Sorry, this is the oldest post')
            }
          }
        })
      }
  }
  customElements.define('astro-url', AstroUrl);
  </script>
</Layout>

<style>
main {
margin-top: -5px;
background-color: #FCF6ED;
}

#slot-container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 12%;
  font-size: 22px;
  line-height: 2.5rem;
  margin-top: -80px;
  margin-bottom: -80px;
}

svg > circle {
  transition: all 200ms ease-out
}

.homelink:hover > svg > circle {
  fill: #CE4E83;
  transform: translateY(-2%);
}
.backlink:hover > svg > circle {
  fill: #CE4E83;
  transform: translateY(-2%);
}

</style>
