---
import NewsContainer from "../components/NewsContainer.astro";
import Layout from "./Layout.astro";
import BlogHeader from "../components/BlogHeader.astro";
const allPosts = await Astro.glob('../pages/blog/*.md')
const SortedPosts = allPosts.sort((a , b ) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
const {frontmatter} = Astro.props;
const postNum = SortedPosts.findIndex((post, index) => {
    if(post.frontmatter.title.trim() == frontmatter.title.trim()) return index > 0 ? index+=1 : index+=2;
})
const displayNum = postNum + 1;

const nextUrl = SortedPosts[postNum + 1]?.url
const prevUrl = SortedPosts[postNum - 1]?.url
import '../global.css'
---

<Layout title={frontmatter.title}>
  <astro-url data-nextUrl={nextUrl} data-prevUrl={prevUrl}>
  
  <main id="mainBody">
    
    <BlogHeader displayNum={displayNum} prevUrl={prevUrl} nextUrl={nextUrl} postsNumber={allPosts.length} />

    <NewsContainer maxW="max-w-[70%]" containerPadding="px-0" >

        <div class="w-full flex justify-center items-center px-20 mb-10 mt-6">
            <h1 class="font-bruno text-3xl inline-block text-center text-[#922B56] leading-16 tracking-[3px]">{frontmatter.title.toUpperCase()}</h1>
        </div>
        
        <div class="rounded-2xl overflow-clip max-w-[86%] mx-auto flex justify-center bg-[#a5e9fd33] items-start  max-h-[550px] drop-shadow-[0_2px_3px_rgba(0,0,0,0.3)">
            <img class="max-h-[800px]" src={frontmatter.thumbnail} />
        </div>

        <div class="px-[12%] pt-10 flex flex-row justify-start items-center">
          <div class="w-[80px] h-[80px] rounded-full overflow-clip flex items-center border-[#606060] border-[2px]">
            <img class="w-[90px] h-[80px]" src={frontmatter.authorAvatar} alt=""/>
          </div>
          <div class="pl-4 flex flex-col justify-center gap-2">
            <h3 class="font-bruno text-[#606060] text-[14px]">
              Published {frontmatter.date.slice(0,10)}
            </h3>
            <div>
                <p class="font-bruno text-[#606060] text-[18px]">a post from {frontmatter.authorName}</p>
            </div>
          </div>
        </div>
        
        <div class="w-[50%] border-gray border-[1px] ml-auto mr-auto mt-10">
        </div>

        <div id="slot-container">
          <slot />
        </div>
    </NewsContainer>
  </main>
  </astro-url>
  <script>
  class AstroUrl extends HTMLElement {
    constructor() {
      super();
      console.log(this.dataset)
        document.getElementById('mainBody').addEventListener("keydown", (e) => {
          console.log(this.dataset)
          if (e.key == "ArrowLeft") {
            window.location.replace = this.dataset.prevUrl;
          } else if (e.key == "ArrowRight") {
            window.location.replace = this.dataset.nextUrl;
          }
        })
      }
  }
  customElements.define('astro-url', AstroUrl);
  </script>
</Layout>

<style>
main {
margin-top: -5px;
background-color: #FCF6ED;
}

#slot-container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 12%;
  font-size: 22px;
  line-height: 2.5rem;
  margin-top: -80px;
  margin-bottom: -80px;
}

</style>
